@import 'tailwindcss';

:root {
  font-family: 'Albert Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --color-blue-500: #4285f4;
  --color-green-500: #34a853;
  --color-yellow-600: #f9ab00;
  --color-red-500: #ea4335;

  --color-off-white: #f0f0f0;
  --color-dark: #1e1e1e;

  --color-primary: var(--color-blue-500);
  --color-success: var(--color-green-500);
  --color-warning: var(--color-yellow-600);
  --color-danger: var(--color-red-500);

  --color-background: var(--color-off-white);
  --color-foreground: var(--color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  opacity: 0.8;
}

h1 {
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-foreground);
    background-color: var(--color-background);
  }
}
